// -----------------------------------------
  // Yellows
// -----------------------------------------
$jasminYellow:#f6eb61;
$zincYellow:#fedb00;
$cadmiumYellow:#ffcd00;
$signalYellow:#ffb81c;
$natureWhite:#f1e6b2;
$vanilla:#f8e08e;
$cashmereYellow:#f9e547;
$quince:#fdd757;
$goldenYellow:#ffb81c;
$melonYellow:#ffc72c;

// -----------------------------------------
  // Oranges
// -----------------------------------------
$lightOrange:#ff8f1c;
$pastelOrange:#ff7f32;
$DAREOrangeLight:#ff6a39;
$DAREOrange:#e35205;
$LINDASunset:#cf4520;
$SWET100TrafficRed:#ef3340;
$tornadoRed:#a6192e;
$rubyRed:#862633;
$burgundy:#a4123f;
$garnet:#572932;
$blackRed:#3f2021;
$LOOMITAubergine:#4b384c;
$peachPastel:#ffbe9f;
$peachLight:#ffa06a;
$peach:#ffb990;
$goldfish:#eca154;
$lobsterLight:#ff7f41;
$lobsterMiddle:#e35205;

// -----------------------------------------
  // Reds
// -----------------------------------------
$lobster:#dc4405;
$vermillion:#e04e39;
$shockOrange:#e03c31;
$MADCCherryRed:#cb333b;
$signalRed:#ba0c2f;
$apricot:#ff9d6e;
$salmonOrange:#e8927c;
$autumnLeaf:#a65523;

// -----------------------------------------
  // Pinks
// -----------------------------------------
$LOOMITApricotPastel:#ffb3ab;
$LOOMITApricotLight:#91d6ac;
$LOOMITApricotMiddle:#e56a54;
$LOOMITApricot:#e04e39;
$strawberryRed:#ff808b;
$pussyPink:#d25b73;
$raspberryRed:#a6093d;
$sangria:#861f41;
$grapefruit:#ffb1bb;
$mauveLight:#d7a3ab;
$mauve:#c48490;
$antiquePinkMiddle:#cca1a6;
$antiquePink:#9c6169;
$pigletPinkLight:#ecc7cd;
$pigletPink:#f4a6d7;
$candy:#ef95cf;
$lipstick:#c6579a;

// -----------------------------------------
  // Purples
// -----------------------------------------
$purple:#80225f;
$ESHERDirtyRed:#612141;
$TILTBubblePink:#ef95cf;
$fuchsiaPink:#e277cd;
$MADCPsychoPink:#eb6fbd;
$telemagenta:#ac145a;
$amaranthRed:#890c58;
$MACrewPurple:#833177;
$purpleViolet:#512a44;
$crocus:#d7c6e6;
$lavender:#b4b5df;
$lilac:#ad96dc;
$grape:#9063cd;
$blackberry:#7d55c7;
$currant:#500778;
$violetDark:#2e1a47;
$blackViolet:#2e1a47;
$violaPastel:#bdc5db;
$viola:#606eb2;
$violaDark:#485cc7;
$nightSEENBlue:#001871;
$grapeMiddle:#485cc7;
$grapeDark:#685bc7;
$purpleVelvet:#2e008b;
$lightViolet:#9595d2;
$plumMiddle:#8d89a5;
$plum:#595478;

// -----------------------------------------
  // Blues
// -----------------------------------------
$pigeonBlueMiddle:#b1c9e8;
$pigeonBlue:#7ba4db;
$blueberryLight:#5c88da;
$azureBlueLight:#b9d9eb;
$azureBlue:#9bcbeb;
$shockBluePastel:#8dc8e8;
$shockBlueLight:#5bc2e7;
$shockBlueMiddle:#4298b5;
$shockBlue:#0086bf;
$tulipBlueLight:#0072ce;
$tulipBlueMiddle:#0057b8;
$tulipBlue:#005eb8;
$lightBlue:#00a3e0;
$ceramicPastel:#62b5e5;
$jeansBlue:#007dba;
$wildWANEBlue:#666600;
$navyBlue:#3a5dae;
$sapphireBlue:#00205b;
$indigo:#002a3a;
$ECBPrussianBlueDark:#002a3a;
$petrol:#003b5c;
$deep-seaBlue:#002a3a;
$deep-seaBlueDark:#00263e;
$ice-blueDark:#9bd3dd;
$dolphinBlue:#3eb1c8;
$creamBlue:#59cbe8;
$olympiaBlue:#00c1d5;
$aqua:#007fa3;
$alga:#007fa3;
$babyBlue:#b8dde1;
$crystalBlueDark:#77c5d5;
$blueGin:#4f868e;
$verdigris:#007681;
$caribbean:#d1e0d7;
$rivieraPastel:#8ce2d0;
$rivieraLight:#64ccc9;
$rivieraMiddle:#2ad2c9;
$rivieraDark:#279989;
$lagoonBlue:#00b2a9;
$MARTHAMarine:#007377;
$turquoiseDark:#115740;
$nori:#004851;
$blackTurquoise:#003b49;

// -----------------------------------------
  // Greens
// -----------------------------------------
$galeGreen:#a3b2a4;
$reed:#9ab9ad;
$aquamarine:#b9dcd2;
$swamp:#43695b;
$blackForestGreen:#3e5d58;
$blueberryPastel:#b1e4e3;
$calypsoLight:#d1e0d7;
$calypsoMiddle:#2cd5c4;
$calypsoDark:#71cc98;
$turquoiseGreen:#00af66;
$turquoiseGreenMiddle:#007a53;
$SEAKFutureGreen:#154734;
$mentholLight:#9be3bf;
$menthol:#80e0a7;
$KACAO77Green:#26d07c;
$lettuceGreen:#6a2c3e;
$kiwiPastel:#f0ec74;
$kiwiLight:#c4d600;
$kiwi:#84bd00;
$dandelion:#c5e86c;
$brilliantGreen:#a4d65e;
$grasshopper:#78be20;
$creamGreen:#8edd65;
$hippieGreen:#a1d884;
$wasabi:#78d64b;
$cliffGreen:#6cc24a;
$cloverGreen:#43b02a;
$juiceGreen:#c2e189;
$MISTERGREEN:#007a33;
$leafGreen:#275d38;
$MIGHTYGreen:#8f993e;
$avocado:#789d4a;
$fernGreen:#67823a;
$mossGreen:#2c5234;
$chromiumOxideGreen:#5b6236;
$blackGreen:#744f28;
$butterflyGreen:#e9ec6b;
$greenTea:#c4d6a4;
$PJAYGreen:#a3aa83;
$amazonas:#5773cc;
$camouflage:#594a25;
$evilOlive:#4a412a;
$poisonGreen:#c4d600;
$apple:#bfb800;
$sorbetGreen:#e9df97;
$softPastel:#e9df97;
$carambola:#dbde70;
$hemp:#ac9f3c;
$greenBean:#8f993e;
$pear:#949300;
$mustard:#d9c756;
$khaki:#ad841f;

// -----------------------------------------
  // Browns
// -----------------------------------------
$ivoryLight:#dbc8b6;
$milkCoffee:#ceb888;
$mocca:#5c462b;
$saharaBeigeLight:#f5e1a4;
$saharaBeigeMiddle:#fdd086;
$saharaBeige:#ecd898;
$papyrus:#cda077;
$nougat:#b9975b;
$beigeBrown:#9a6a4f;
$apricotBeige:#fcd299;
$labrador:#fcc89b;
$ocherBrown:#996017;
$orangeBrownLight:#eed484;
$orangeBrownMiddle:#c88242;
$orangeBrown:#996017;
$cocoaLight:#ab5c57;
$cocoaMiddle:#9c6169;
$cocoa:#6a3735;
$caramel:#ad7c59;
$walnut:#7c4d3a;
$hazelnut:#693f23;
$chocolateBrown:#4e3629;
$CMPDarkBrown:#473729;

// -----------------------------------------
  // Greys
// -----------------------------------------
$tarBlack:#373a36;
$stoneGreyDark:#65665c;
$stoneGreyMiddle:#7e7f74;
$stoneGreyLight:#babbb1;
$TOASTSignalBlack:#25282a;
$blackGreyNeutral:#c6aa76;
$middleGreyNeutral:#9ea2a2;
$lightGreyNeutral:#c4bfb6;
$mouseGrey:#707372;
$silverDollar:#887777;
$blackGreyDark:#25282a;
$anthraciteGrey:#5b6770;
$greyBlueDark:#707372;
$granite:#7c878e;
$greyBlueMiddle:#898d8d;
$rockGrey:#a2aaad;
$greyBlueLight:#c1c6c8;
$pebbleGrey:#d0d3d4;

// -----------------------------------------
  // Neons
// -----------------------------------------
$neonYellow:#ffe900;
$neonOrange:#ffaa4d;
$neonPink:#ff3eb5;
$neonBlue:#009ace;
$neonGreen:#44d62c;